<% layout('layouts/boilerplate') %>
    <div class="ideaEditPageContainer">
        <div class="mt-3 secondIdeaEditPageContainer">
            <div class='text-center' style='font-size:20px; font-weight: 800;'>
                Edit your idea:
            </div>
            <form action="/<%=idea._id%>?_method=PATCH" method='POST' novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title:</label>
                    <textarea id="title" class="form-control" type="text" name="idea[title]" required
                        maxlength="100"><%=idea.title%></textarea>
                </div>
                
                <div class="mb-3">
                    <label for="description">idea description:</label>
                    <textarea id="description" class="form-control textEditorArea" name="idea[description]" rows="10"
                        required><%-idea.description%></textarea>
                </div>

                <div class="mb-2 mt-3">
                    <label class="mb-2">upload images:</label>
                    <input class="form-control" type="file" id="ideaImage" name='ideaImage'
                        multiple>
                </div>

                <div style='display:flex; flex-direction:column; justify-content: left;'>
                    <% idea.images.forEach(function(img,i) { %>
                        <img class='img-thumbnail' src="<%=img.url%>" alt="">
                            <label for='image-<%=img.filename%>'>Delete</label>
                            <input type='checkbox' name='deleteImages[]' value='<%=img.filename%>' id='image-<%=img.filename%>'>
                    <%})%>
                </div>
                <button type='submit' class="btn btn-warning">edit</button>
            </form>


        </div>
    </div>





    